body {
    background-color: #19c49a;
}

.reveal {
    color: #fff;
}

.reveal section h1,
.reveal section h2,
.reveal section h3,
.reveal section h4,
.reveal section h5,
.reveal section h6 {
    text-transform: none;
    color: #fff;
}

.reveal section li,
.reveal section p {
    font-size: 1.5rem;
}

.reveal section pre {
    font-size: 1rem;
}

.reveal section a {
    color: #FFC107;
}

.reveal section a:hover {
    color: #FF9800;
}
