body {
    background-color: "#19c49a";
}

.reveal section h1,
.reveal section h2,
.reveal section h3,
.reveal section h4,
.reveal section h5,
.reveal section h6 {
    text-transform: none;
}

.reveal section li,
.reveal section p {
    font-size: 1.5rem;
}

.reveal section pre {
    font-size: 1rem;
}

.reveal section code {
    color: "#de5fbe";
    font-style: italic;
}
